body {
	font-family: Arial, serif;
}

h1 {
	margin: 4rem auto 0 auto;
	text-align: center;
	background-color: #333;
	width: 60%;
	padding: 2rem 0;
	color: white;
}

table {
	margin: 4rem auto;
	border: 1px solid black;
	text-align: center;
	background-color: #333;
	color: white;
	border-collapse: collapse;
}

th, td {
	padding: 0.5rem 0;
	border-bottom: 2px solid white;
}

th:nth-child(1) {
	width: 100px;
}

th:nth-child(2) {
	width: 200px;
}

th:nth-child(3) {
	width: 150px;
}

th:nth-child(4) {
	width: 150px;
}

th:nth-child(5) {
	width: 350px;
}

th:nth-child(6) {
	min-width: 200px;
}